body{
    background-color: palegreen;
    font-family: sans-serif;
}

li{
    color: rgb(255, 114, 234);
}

.home-image{
    width: 250px;
    border: 1px solid black;
    height: 200px;
    
}

head{
    font-style: italic;
    color: brown
}